.test-shadow {
	width:100px;
	height:100px;
	margin:5px;
	float:left;
	background:white;
}


.f-d1 {
	@include smartShadow(1);
	&:hover {
		@include smartShadow(2);
	}
}

.f-d2 {
	@include smartShadow(2);
	&:hover {
		@include smartShadow(3);
	}
}

.f-d3 {
	@include smartShadow(3);
	&:hover {
		@include smartShadow(4);
	}
}

.f-right {
	float:right;
}

.f-left {
	float:left;
}

.f-navbar {
	height: 40px;
	width:100%;
	background: #AFDFDB;
	background-image: url("/assets/imgs/ember-background-green.png");
	position: fixed;
	top:0;
	left:0;
	font-size:18px;
	z-index:100;
	color:black;
	@include smartShadow(2);
}

.f-brand {
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.11em;
	font-size:18px;
	padding:8px;
}

.f-dropdown {
	position:relative;
}

.f-dropdown-body {
	z-index: 200;
	background:white;
	box-sizing:border-box;
	min-height:10px;
	min-width:10px;
	width:140px;
	position:absolute;
	top:6px;
	left:-145px;
	@include smartShadow(3);
	font-size:14px;
	line-height:30px;
}

.f-dropdown-button {
	background:none;
	border:none;
	color:black;
}


.f-dropdown-choice {
	display:block;
	color:#777;
	width:140px;
	// border-left: 3px white solid;
	&:link {
		color:#777;
		text-decoration:none;
	}
	&:hover {
		color:white;
		background:#333;
		text-decoration:none;
		// border-left: 3px #333 solid;
	}
	&.active {
		// border-left: 3px #333 solid;
		color:black;
		&:hover {
			color:white;
		}
	}

}

// focus cards
.f-card {
	width:100%;
	height:auto;
	background:white;
	margin-bottom:40px;
	padding:0;
	@include smartShadow(1);
	&-header {
		width:100%;
		height:40px;
		background:#D0DF7D;
		padding:10px;
		box-sizing:border-box;
		text-transform: uppercase;
		font-weight: bold;
	}
	&-body {
		width: 100%;
		min-height: 80px;
		background:white;
		padding:10px;
		box-sizing:border-box;
	}
	&-footer {
		width:100%;
		height:80px;
		border-top:thin solid #efefef;
		padding:10px;
		box-sizing:border-box;
	}
	&-kind {
		color: #EEF4CC;
		margin-right:5px;
	}
	&-days {
		float:right;
	}
}


